@import 'src/styles/colors';

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

button:disabled {
  cursor: not-allowed;
}

.initial {
  background-color: #000;
  color: #fff;
}

.primary, .secondary {
  color: #fff;
}

.primary:disabled, .secondary:disabled {
  box-shadow: none;
}

.primary {
  background-color: $light_theme_primary_button_background;
}

.primary:hover {
  background-color: #5981FF;
  box-shadow: 0 0 1rem #4D78FF4C;
}

.primary:disabled, .primary:disabled:active {
  background-color: #99B2FF;
}

.primary:active {
  background-color: #3D6CFF;
}

.secondary {
  background-color: #FF8540;
}

.secondary:hover {
  background-color: #FF8D4E;
  box-shadow: 0 0 1rem #FF854047;
}

.secondary:disabled, .secondary:disabled:active {
  background-color: #FFAF83;
}

.secondary:active {
  background-color: #FE7D34;
}