@import 'src/styles/colors';

.content {
  display: grid;
  grid-gap: 20px;
  padding: 2rem;
  min-height: 100vh;

  &__card {
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid;
    transition: all 0.3s ease-in-out;
  }

  &__card:hover {
    background-color: $light_theme_primary_background;
    color: $light_theme_secondary_text-color;
  }
}

.loading {
  display: flex;
  padding: 5rem;
  justify-content: center;
}

@media screen and (min-width: 1024px) {

  .content {
    grid-column: 1;
    grid-row: 2 / 3;
    grid-template-columns: 33.333% 33.333% 33.333%;
    justify-content: center;
    padding: 3rem;
    min-height: unset;
  }

  .loading {
    display: grid;
    grid-column: 2;
  }
}