.content {
  display: grid;
  grid-gap: 20px;
  padding: 2rem;

  &__card {
    cursor: pointer;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid;
    transition: all 0.3s ease-in-out;
  }

  &__card:hover {
    background-color: #353D4B;
    color: #fff;
  }
}

.loading {
  display: flex;
  padding: 5rem;
  justify-content: center;
}

@media screen and (min-width: 1024px) {

  .content {
    grid-column: 1;
    grid-row: 2 / 3;
    grid-template-columns: 33.333% 33.333% 33.333%;
    justify-content: center;
    padding: 3rem;
  }

  .loading {
    display: grid;
    grid-column: 2;
  }
}