// All resolutions
.header {
  padding: 1rem;
  border-bottom: 1px solid #000;
}

// Mobile
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  margin-left: 1rem;
}

.profile {
  display: flex;
  flex-direction: row;
}

.action {
  margin-right: 1rem;
}

.profile {
  &__name, &__avatar {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 25px;
    height: 25px;
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .header {
    grid-column: 1/-1;
  }
}