// All resolutions
.header {
  padding: 1rem;
  background-color: #353D4B;
  color: #fff;
}

// Mobile
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo, &__logo__active {
    color: inherit !important;
  }

  &__profile {
    display: flex;
    flex-direction: row;
  }

  &__action {
  }
}

.profile {
  color: inherit !important;

  &__name, &__avatar {
    display: flex;
    align-items: center;
  }

  &__avatar {
    background-size: cover;
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }
}

// Desktop
@media screen and (min-width: 1024px) {
  .header {
    grid-column: 1/-1;

    &__logo {
    }

    &__action {
    }
  }
}